.suggest-spans {
  display: flex  !important;
  align-items: center  !important;
  background-repeat: no-repeat  !important;
  background-size: 20px  !important;
  background-position-y: center  !important;
}
.airport-name {
  font-size: 13px !important;
}
.suggestions {
  background-color: #F6FBFF !important;
  max-height: 250px !important;
  overflow: auto !important;
  z-index: 100 !important;
  top: 65px !important;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%) !important;
    border-color: rgba(223,225,229,0) !important;
}
.suggest-spans .inner-suggest-span {
  margin-left: 15px !important;
  line-height: 15px !important;
  font-size: 13px !important;
}


.react-autosuggest__suggestions-list {
  background-color: #F6FBFF !important;
}



.city-field {
  color: #000 !important;
    border: 2px !important;
}

.city-field:focus {
  box-shadow: none !important;
}

.fa-plane {
  color: #0C7EAF !important;
    font-size: 20px !important;

}

.suggestion-content {
  display: flex !important;
  align-items: center !important;
  background-repeat: no-repeat !important;
}

.remove-flex{
  flex-basis: unset !important;
}

.country-name-field{
  font-size: 11px!important;
}

.suggest-item{
  border-bottom: 1px solid #b3b3b387 !important;
      line-height: 0.4 !important ;
      color: #777;
}
.suggest-item:hover{
  background-color: #e6eeef !important;
}

a,
i,
span {
  display: inline-block;
}